/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.btn-otl {
  color: #eeeeee;
  border-color: #eeeeee;
  background-image: linear-gradient(to bottom, #96ab1e 0, #a2ab6c 100%);
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* JUMBOTRON */

.jumbotron {
  padding-top: 100px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */
.featurette {
  display: flex;
  gap: 20px;
}

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-text {
  width: 33%;
}

.featurette-images {
  width: 66%;
}

.featurette-image {
  width: 100%;
}



/* Gallery CSS
-------------------------------------------------- */

.gallery-item {
  height: 500px;
  padding: 5px;
  border: 1px solid green;
  
  display: flex;
  align-items: center;
}

.gallery-item img {
  max-height: 100%;
  max-width: 100%;
}

/*
-------------------------------------------------- */

.bubble-panel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.bubble-panel {
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
  .bubble-panel-container {
    grid-template-columns: 1fr;
  }

  .featurette {
    flex-direction: column;
  }

  .featurette-divider {
    margin: 20px 0; /* Space out the Bootstrap <hr> more */
  }

  .featurette-text {
    width: 100%;
  }

  .featurette-images {
    width: 100%;
  }

}